<div class="hero bg-img is-large">
  <div class="hero-body">
  </div>
</div>
<section class="section">
  <div class="container">
    <div class="notification is-info">
      <strong>We are revising our About Page! Until then, this page is under maintenance.</strong>
    </div>
    <div class="content">
      <h2>About Offworld Solutions</h2>
      <p>
         Mauris felis justo, iaculis a tellus sit amet, auctor blandit tortor. Ut non augue eu sapien fermentum efficitur at eu mauris.
        Pellentesque et feugiat dui. Praesent sollicitudin tristique nulla nec volutpat. In suscipit lectus a sodales iaculis. Duis
        mi ex, volutpat in elit vitae, condimentum malesuada ante. Fusce lobortis fringilla lobortis. Sed ornare fermentum diam.
        Nunc lacinia neque eu elementum fermentum. Mauris in elit et velit iaculis dignissim. Proin ut feugiat enim. Phasellus nec
        nisl sodales, accumsan nibh et, rutrum odio. Mauris nec velit porttitor elit rhoncus pulvinar. Duis vulputate elit vitae
        eros tempor, vel tristique risus viverra.
      </p>
      <p>
         Phasellus consequat mauris sagittis tristique dignissim. Proin mollis ornare diam vitae iaculis. Aenean non libero mi. Vestibulum
        eleifend feugiat tellus eget rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras aliquet aliquam pharetra.
        Aliquam finibus sapien vel turpis porttitor iaculis. Sed tristique, tortor vel lobortis cursus, erat erat laoreet est, eu
        fringilla orci mi non nisl. Mauris quis tincidunt nibh. Praesent et metus vel justo sodales aliquet quis a metus. Nullam
        consectetur, neque eget semper fringilla, nunc arcu fringilla felis, feugiat accumsan nisl nibh in elit. Sed et sagittis
        risus.
      </p>
      <p>
         In vehicula ut ipsum in porttitor. Proin ornare viverra turpis, a mattis sapien ultrices in. Suspendisse a aliquet dolor.
        Cras fringilla molestie lectus id vestibulum. Vivamus vitae ultrices leo, ac varius eros. Morbi a condimentum nibh. Integer
        ultrices laoreet ligula. Ut porttitor felis in eros convallis, sed accumsan dui pulvinar.
      </p>
    </div>
  </div>
</section>