{{>carousel}}
<section class="section">
  <div class="container has-text-centered">
    <div class="content is-medium">
      <h3>Opportunity and Adventure Awaits</h3>
      <p>
        Offworld Solutions currently employs more than <strong>30 million</strong> citizens
        across the galaxy ranging from Sol to Alpha Centauri. We are industry
        leaders in shipping, mining, exploration, medicine and more.
      </p>
      <h3>Offworld Has Never Been Safer</h3>
      <p>
        The safety of our employees is our top priority. In only
        10 years, galaxy-wide work related injuries have dropped more than <strong>5%.</strong>
      </p>
    </div>
    <a href="/join" class="button is-primary is-large">Join Offworld Resources Today!</a>
  </div>
</section>