<main class="section">
  <div class="container">
    {{>carousel}}
    <section class="section">
      <div class="container has-text-centered">
        <div class="content is-medium">
          <h2>Opportunity and Adventure Awaits</h2>
          <p>
            Offworld Solutionss currently employs more than <strong>30 million</strong> citizens
            across the galaxy ranging from Sol to Alpha Centauri. We are industry
            leaders in shipping, mining, exploration, medicine and more.
          </p>
          <h2>Offworld Jobs Have Never Been Safer</h2>
          <p>
            The safety of our employees is our top priority. In only
            10 years, galaxy-wide work related injuries have dropped more than <strong>5%.</strong>
          </p>
        </div>
        <div class="column">
          <a href="/jobs" class="button is-primary is-large">Apply Today!</a>
        </div>
      </div>
    </section>
  </div>
</main>