<section class="section">
  <div class="container">
    <ul>
      <li>
        <h1 class="title">Asteroid Miner</h1>
        <h2 class="subtitle">
          A simple container to divide your page into
          <strong>sections</strong>, like the one you're currently reading
        </h2>
        <button class="button is-primary">One Click Apply</button>
      </li>
      <hr class="hr">
      <li>
        <h1 class="title">Low-Sec Security</h1>
        <h2 class="subtitle">
          A simple container to divide your page into
          <strong>sections</strong>, like the one you're currently reading
        </h2>
        <button class="button is-primary">One Click Apply</button>
      </li>
      <hr class="hr">
      <li>
        <h1 class="title">Freighter Pilot</h1>
        <h2 class="subtitle">
          A simple container to divide your page into
          <strong>sections</strong>, like the one you're currently reading
        </h2>
        <button class="button is-primary">One Click Apply</button>
      </li>
      <hr class="hr">
      <li>
        <h1 class="title">Freighter Pilot</h1>
        <h2 class="subtitle">
          A simple container to divide your page into
          <strong>sections</strong>, like the one you're currently reading
        </h2>
        <button class="button is-primary">One Click Apply</button>
      </li>
      <hr class="hr">
      <li>
        <h1 class="title">Freighter Pilot</h1>
        <h2 class="subtitle">
          A simple container to divide your page into
          <strong>sections</strong>, like the one you're currently reading
        </h2>
        <button class="button is-primary">One Click Apply</button>
      </li>
    </ul>
  </div>
</section>