<section class="hero is-medium is-danger is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title is-size-2 has-text-weight-semibold">Portrait of Offworld Solutions' CEO Napoleos Ianamus IV</h2>
    </div>
  </div>
</section>
<section class="section is-fullheight">
  <div class="container has-text-centered">
    <div class="scroll-boxy">
      <img src="images/ceo_napoleos.jpg" alt="ceo portrait">
    </div>
    <div class="section">
      <a href="resources/ceo_napoleos.pdf" class="button is-info is-large" download>Download Portrait</a>
    </div>
  </div>
</section>