<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>Offworld Solutions is not a real company.</p>
      <p>This website was made for CS290's final project at Oregon State University</p>
      <p>All images taken from <a href="https://www.nomanssky.com/">No Man's Sky</a></p>
    </div>
  </div>
</footer>
