<nav class="navbar is-danger is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <h1 class="is-size-5 has-text-weight-semibold"><i class="fas fa-rocket"></i>&nbsp;&nbsp;Offworld Solutions</h1>
      </a>
      <a role="button" class="navbar-burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a href="/jobs" class="navbar-item">Jobs</a>
        <a href="/media" class="navbar-item">Media</a>
        <a href="/about" class="navbar-item">About</a>
      </div>
    </div>
  </div>
</nav>