<nav class="navbar is-primary">
  <div class="container">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <h1 class="title"><i class="fas fa-rocket"></i>&nbsp;Offworld Resources</h1>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a href="/info" class="navbar-item">Information</a>
        <a href="/info" class="navbar-item">Stuff</a>
        <a href="/info" class="navbar-item">Join Today!</a>
      </div>
    </div>
  </div>
</nav>