<form id="logForm" method="post">
  <fieldset>
    <legend>Log Workout</legend>
    <div>
      <label for="name">Workout Name:</label>
      <input type="text" name="name" id="name" required>
    </div>
    <div>
      <label for="reps">Reps:</label>
      <input type="number" min="0" name="reps" id="reps" required>
    </div>
    <div>
      <label for="weight">Weight:</label>
      <input type="number" min="0" name="weight" id="weight" required>
    </div>
    <div>
      <label for="date">Date:</label>
      <input type="date" min="1900-01-01" name="date" id="date">
    </div>
    <div>
      <label for="units">Units</label>
        <div>
          <input type="radio" id="kilos" name="units" value="0" checked />
          <label for="kilos">Kilograms</label>
        </div>
        <div>
          <input type="radio" id="lbs" name="units" value="1" />
          <label for="lbs">Pounds</label>
        </div>
    </div>
    <input type="submit" value="Log Workout">
  </fieldset>
</form>