table, tr > * {
  border: 1px solid black;
}

tbody > tr:nth-of-type(odd) {
  background: papayawhip;
}
tbody > tr:nth-of-type(even) {
  background: lightcoral;
}

ul {
  margin: 0;
}

.row-header {
  font-style: italic;
  font-weight: normal;
}

.outer-content {
  width: 75%;
  margin-top: 20px;
  padding: 20px 0;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-content {
  background: lightblue;
  width: 75%;
  text-align: center;
}